/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #041c32;
}

.notes-app {
  width: 80%;
  margin: 30px auto;
}

.note-header {
  display: flex;
  justify-content: space-between;
}

.note-header input {
  width: 350px;
  height: 40px;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #ff844b;
}

.notes-app h1 {
  color: white;
  margin-bottom: 30px;
}

.notes-app h2 {
  font-size: 20px;
  color: white;
}

.empty-notes {
  color: yellow;
  text-align: center;
}

.note-active {
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.note-archive {
  margin: 50px 0 10px 0;
  letter-spacing: 2px;
}

.note-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 20px;
}

.note-item {
  background-color: #fdf4bc;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  position: relative;
  color: #0a0d25;
}

.note__item-content {
  position: relative;
  padding-bottom: 50px;
}

.note__title {
  margin-bottom: 3px;
  font-weight: 500;
}

.note__date {
  margin-bottom: 10px;
  font-size: 14px;
  color: gray;
  border-bottom: 1px solid #9fc9dd;
}

.note__body {
  font-size: 15px;
  margin-bottom: 10px;
}

.note__item-action {
  display: grid;
  grid-template-columns: auto auto;
  align-items: space-between;
  gap: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.note__item-action button {
  background-color: #ff844b;
  border: none;
  padding: 2px;
  color: white;
  border-radius: 5px;
}

.form-input {
  text-align: center;
  margin: 10px 0;
}

.form-input h2 {
  margin: 10px 0;
}

.note-input input {
  margin: 5px 0;
  width: 500px;
  border: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: none;
}

.note-input textarea {
  width: 500px;
  border: none;
  margin: 5px 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.note-input button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: #e3edf2;
  background-color: #ff844b;
  cursor: pointer;
}

.character-remaining {
  color: yellow;
  margin-top: 20px;
}

button {
  cursor: pointer;
}
